<!DOCTYPE html>
<html lang="en">
<body style="background-color:powderblue;">
<picture>
  <img src="/static/SitePictures/nci.jpeg" alt="NCI Logo" style="width:auto;">
</picture>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        Email: <input type="email" name="email">
        Password: <input type="password" name="password">
       <a href="http://127.0.0.1:5000/login?next=%2Fprofile" class="button--style-red">submit</a>
    </form>
    <p><B1>This is John Condron's Web Application</B1></p>
    <p>The developed application exhibits the traits and qualities associated with a secure web application.</p>
    <img src="/static/SitePictures/cybergif.gif" alt="Cyber Gif" width="600" height="600">
</body>
</body>
</html>